html {
    font-size: 15px;
}

body {
    box-sizing: border-box;
    font-family: Geometria, monospace;
    color: #284157;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.head__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}

.head__iteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #345366;
    text-align: right;
}

.head__foto,
.head__time,
.head__text {
    margin-right: 20px;
}

.head__name {
    text-transform: uppercase;
    font-size: 1em;
}

.head__name span {
    font-weight: bold;
}

.head__foto2 {
    width: 20px;
    height: 20px;
}

.head__foto2 img {
    width: 100%;
    height: 100%;
}

.head__time,
.head__text {
    font-size: 0.8em;
}

.head__text span {
    font-size: 1.3em;
}

.btn a {
    text-decoration: none;
    font-size: 0.9em;
    color: #fff;
    padding: 15px 25px;
    background: -webkit-linear-gradient(left, #F34E4B, #F67444);
    background: linear-gradient(90deg, #F34E4B, #F67444);
    border-radius: 10px;
}

.intro {
    width: 100%;
    height: 500px;
    background-image: url(foto/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 10px;
}

.form__block {
    height: auto;
    position: absolute;
    top: 40%;
    left: 72%;
    z-index: 3;
}

.form__foto {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -92px;
    left: -50px;
    z-index: -1;
}

.form__foto img {
    width: 99%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.form__text {
    text-align: center;
    font-size: 0.9em;
    color: #0D3F57;
    margin-bottom: 15px;
    margin-top: -30px;
}

.mform {
    text-align: center;
}

.form {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.form__btn {
    font-size: 0.9em;
    color: #fff;
    padding: 10px 20px;
    background: -webkit-linear-gradient(left, #F34E4B, #F67444);
    background: linear-gradient(90deg, #F34E4B, #F67444);
    border-radius: 5px;
    border: none;
    outline: none;
}
.mob__title{
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
.mob__head{
    width: 100%;
    padding: 20px 0 10px;
    background-color: #fff;
    display: none;
}
.mob__headform{
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mob__form{
    display: inline-block;
    width: 100px;
    background-color: #fff;
    border:1px solid #F1F1F1;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.8em;
}
.mob__btn{
    font-size: 0.6em;
    color: #fff;
    padding: 5px 10px;
    background: -webkit-linear-gradient(left, #F34E4B, #F67444);
    background: linear-gradient(90deg, #F34E4B, #F67444);
    border-radius: 10px;
    border: none;
    outline: none;
}
.project__top h2 {
    font-size: 2rem;
    text-align: center;
    color: #284157;
}

.project__top {
    margin: 35px 0;
}

.project__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.project__b1 {
    margin-bottom: 40px;
}

.project__b1 span {
    display: inline-block;
    padding: 5px 10px;
    color: #284157;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.project__b1 span:hover {
    border-color: #284157;
}

.project__inner {
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.project__items {
    width: 31%;
    height: 100%;

}

.project__foto {
    width: 100%;
    height: 200px;

}

.project__foto img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.project__conten {
    width: 99%;
    text-align: center;
    color: #284157;
    border: 1px solid #f3f3f3;
    height: 150px;
    border-radius: 5px;
}

.project__title {
    font-size: 0.9rem;
    margin: 10px 0 15px 0;
}

.project__subtitle {
    font-size: 0.8rem;
    margin-bottom: 25px;
}

.navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 40px 0;
    color: #284157;

}

.arrow {
    font-size: 1.5rem;
    cursor: pointer;
}

.arrow:last-child {
    margin-left: 20px;
}

.cicrcle:hover {
    border-width: 2px;
}

.cicrcle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #284157;
    margin-left: 20px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer;
}

.planbtn a {
    text-decoration: none;
    font-size: 0.8em;
    color: #fff;
    padding: 10px 15px;
    background: -webkit-linear-gradient(left, #F34E4B, #F67444);
    background: linear-gradient(90deg, #F34E4B, #F67444);
    border-radius: 10px;
}

.plan {
    width: 100%;
    height: 930px;
    background-image: url(foto/foto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.plan__top,
.plan__bottom {
    text-align: center;
    color: #284157;
}

.plan__top {
    padding-top: 50px;
    font-size: 0.9rem;
}

.plan__bottom {
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.plan__slide {
    width: 100%;
}

.plan__items {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.plan__foto {
    width: 32%;
    height: auto;
    position: relative;
    border-radius: 5px;
}

.plan__foto img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.arr,
.arr2 {
    position: relative;
}

.arr button {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.arr2 button {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.point {
    width: 20px;
    text-align: center;
    border: none;
    background-color: #fff;
    outline: none;
    height: 20px;
    opacity: 0.7;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    z-index: 9;
}

.point:hover {
    opacity: 1;
}

.active {
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 176, 0, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 5;
}

.active:hover {
    opacity: 1;
}

.active span {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.active span::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transform: rotate(270deg) translateX(11px);
            transform: rotate(270deg) translateX(11px);
    display: inline-block;
}

.plan__subtitle {
    font-size: 0.8rem;
    color: #284157;
    text-align: center;
    margin: 20px;
}

.plan__form {
    background-color: #fff;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
}

.pform__title {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.pform__subtitle {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.bform__item {
    display: inline-block;
    padding: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    margin-right: 20px;
    outline: none;
}

.bform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form__btm {
    font-size: 0.8em;
    color: #fff;
    padding: 10px 40px;
    background: -webkit-linear-gradient(left, #F34E4B, #F67444);
    background: linear-gradient(90deg, #F34E4B, #F67444);
    border-radius: 5px;
    border: none;
    outline: none;
}

.planbtn a {}

.derent__title {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 30px 0;
}

.derent__subtitle {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.derent__foto {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.derent__foto img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;

}

.material {
    width: 100%;
    background-color: #0D3F57;
    color: #fff;
}

.material__top {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 30px;
    padding-top: 40px;
}

.material__inner {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.material__items {
    width: 23%;
    height: 100%;
    text-align: center;
}

.material__foto {
    width: 100%;
    height: 50%;
}

.material__foto img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.material__title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 20px 0;
}

.material__link a {
    text-decoration: underline;
    color: #fff;
    font-size: 0.6rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.material__link a:hover {
    text-decoration: none;
}

.desp {
    width: 100%;
    height: 630px;
    background-image: url(foto/desp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desp__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.desp__inner {
    width: 70%;
    height: 300px;
}

.desp__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.desp__foto {
    width: 30%;
    height: 100%;
    margin-right: 3%;
}

.desp__foto img {
    width: 100%;
    height: 100%;
    background-size: cover;

}

.desp__cont {
    width: 68%;
    height: 100%;
}

.desp__title {
    font-size: 0.9rem;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 10px;
}

.desp__subtitle {
    font-size: 0.7rem;
}



.staff__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.staff__items {
    width: 100%;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.staff__foto {
    width: 65%;
    height: 100%;
    position: relative;
}

.staff__foto img:nth-child(1) {
    width: 65%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

}

.staff__foto img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.pos {
    position: relative;
}

.staff__cont {
    width: 33%;
    margin-left: 3%;
    height: 100%;
}

.staff__name,
.staff__telefon {
    font-size: 0.9rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.staff__adress,
.staff__title {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.staff__active {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

i {
    font-size: 2.5rem;
    color: #fff;
    opacity: 0.7;
}

.company {
    width: 100%;
    background-color: #EBF3FA;
}

.none {
    margin-bottom: 0;
}

.company__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 40px;
}

.company__items {
    width: 32%;
    text-align: center;
}

.company__cont {
    text-align: center;
    padding: 20px 5px;
    background-color: #fff;
    border-radius: 10px;
}

.quesition {
    width: 100%;
    height: 580px;
    background-image: url(foto/quesition.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.quesition__top {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 30px;
}

.quesition__top h2 {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.quesition__top h4 {
    font-size: 0.8rem;
    font-weight: 200;
}

.quesition__text a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.quesition__text {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.quesition__text a::after {
    content: "";
    width: 100%;
    height: 1px;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.quesition__text a:hover::after {
    width: 0;
}

.quesition__text span {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2.5;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.map {
    width: 100%;
    background-color: #EBF3FA;
    height: 400px;
}

.map__item {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.map__icon {
    width: 50%;
    height: 100%;
}

.map__icon img {
    width: 100%;
    height: 100%;
}

.map__cont {
    height: 100%;
    width: 47%;
    padding-left: 100px;
}

.map__title {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 100px;
}

.map__subtitle {
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.map__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;

}

.map__adress .map__foto {
    display: inline-block;

    margin-right: 20px;
}

.map__adress p {
    font-size: 0.7rem;

}

.map__adress span {
    font-weight: 700;
}

footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;

}

.footer {
    margin-left: 25%;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F67244;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
      background: #F34F4B;
}


@media(min-width: 1439px) {

    .material__inner{
        height: 260px;
    }
    .plan{
        height: 1050px;
    }
    .staff__items{
        height: 235px;
    }
    .desp__items{
        height: 125px;
    }
    .desp__title{
        font-size: 1.2rem;
    }
    .desp__subtitle{
        font-size: 1.1rem;
    }
    .staff__name, .staff__telefon{
        font-size: 1.2rem;
    }
    .staff__adress, .staff__title{
        font-size: 1.1rem;
    }
}




@media(max-width: 900px) {

    .head__name {
        font-size: 0.9em;
    }

    .head__time,
    .head__text {
        font-size: 0.7em;
    }

    .head__text span {
        font-size: 1.0em;
    }

    .btn a {
        text-decoration: none;
        font-size: 0.8em;
        color: #fff;
        padding: 10px 15px;
        background: -webkit-linear-gradient(left, #F34E4B, #F67444);
        background: linear-gradient(90deg, #F34E4B, #F67444);
        border-radius: 10px;
    }

    .head__foto2 {
        width: 15px;
        height: 15px;
    }

    .head__foto,
    .head__time,
    .head__text {
        margin-right: 10px;
    }

    .head__foto {
        width: 60px;
        height: 30px;
    }

    .head__foto img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .intro {
        height: 400px;
        margin-top: 15px;
    }

    .head__inner {
        margin-top: 15px;
    }

    .form__foto {
        width: 245px;
        height: 260px;
        top: -63px;
        left: -45px;
    }

    .form {
        width: 150px;
    }

    .form__btn {
        font-size: 0.8em;
        padding: 8px 15px;
    }

    .form__text {
        font-size: 0.8em;

    }

    .none {
        margin-bottom: 0;
    }
}

@media(max-width: 769px) {
    .intro {
        height: 300px;
        margin-top: 15px;
    }

    .form__foto {
        width: 230px;
        height: 230px;
        top: -63px;
        left: -45px;
    }

    .form {
        width: 130px;
    }

    .form__btn {
        font-size: 0.7em;
        padding: 6px 12px;
    }

    .form__text {
        font-size: 0.7em;

    }

    .project__foto {
        height: 170px;
    }

    .project__inner {
        height: 320px;
    }

    .plan__top {
        font-size: 0.8rem;
        padding-top: 40px;
    }
    .littel{
        margin: 20px 0 7px;
    }
    .plan__bottom {
        font-size: 0.7rem;
        margin: 20px 0;
    }

    .plan {
        height: 700px;
    }

    .plan__form {
        height: 200px;
        margin-top: 20px;
    }

    .pform__title {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    .bform__item {
        padding: 10px;
        font-size: 0.8rem;
        margin-right: 20px;
    }

    .form__btm {
        font-size: 0.7em;
        padding: 5px 28px;
    }

    .derent__foto img {
        width: 80%;
    }

    .derent__foto {
        margin-bottom: 25px;
    }

    .derent__title {
        font-size: 0.7rem;
        margin: 20px 0;
    }

    .derent__subtitle {
        font-size: 0.6rem;
        margin-bottom: 20px;
    }

    .material__top {
        font-size: 0.7rem;
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .desp__title {
        font-size: 0.7rem;
    }

    .desp__subtitle {
        font-size: 0.6rem;
    }

    .desp__items {
        height: 75px;
        margin-top: 30px;
    }

    .desp {
        height: 500px;
    }

    .staff__adress,
    .staff__title {
        font-size: 0.7rem;
    }

    .none {
        margin-bottom: 0;
    }

    .quesition__text {
        font-size: 0.8rem;
    }

    .quesition__text span {
        width: 25px;
        height: 25px;
        line-height: 2;
    }

    .quesition__top {
        padding-top: 40px;
    }

    .map__cont {
        padding-left: 3%;
    }

    .map {
        height: 360px;
    }

    .staff__active {
        width: 65%;
    }

}






/*=======MEDIA 577px START===========*/
@media(max-width: 577px) {
    .intro {
        height: 200px;
        margin-top: 15px;
    }

    .form__foto {
        width: 200px;
        height: 200px;
        top: -81px;
        left: -42px;
    }

    .head__name {
        font-size: 0.8em;
    }

    .head__time,
    .head__text {
        font-size: 0.7em;
    }

    .head__text span {
        font-size: 0.8em;
    }

    .btn a {
        text-decoration: none;
        font-size: 0.8em;
        color: #fff;
        padding: 6px 10px;
        background: -webkit-linear-gradient(left, #F34E4B, #F67444);
        background: linear-gradient(90deg, #F34E4B, #F67444);
        border-radius: 10px;
    }

    .head__foto2 {
        width: 15px;
        height: 15px;
    }

    .head__foto,
    .head__time,
    .head__text {
        margin-right: 10px;
    }

    .head__foto {
        width: 53px;
        height: 25px;
    }

    .head__foto img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .form {
        width: 100px;
        padding: 5px 0;
        margin-bottom: 5px;
    }

    .form__btn {
        font-size: 0.7em;
        padding: 6px 12px;
    }

    .form__text {
        font-size: 0.6em;
        margin-top: -50px;

    }

    .project__top {
        margin: 20px 0;
    }

    .project__top h2 {
        font-size: 1.5rem;
    }

    .project__foto {
        height: 140px;
    }

    .project__inner {
        height: 290px;
    }

    .project__b1 {
        margin-bottom: 30px;
    }

    .project__title {
        font-size: 0.8rem;
        margin: 10px 0;
    }

    .project__subtitle {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .planbtn a {
        font-size: 0.7em;
        padding: 8px 8px;
    }

    .project__conten {
        height: 130px;
    }


    .plan__top {
        font-size: 0.6rem;
        padding-top: 40px;
    }

    .plan__bottom {
        font-size: 0.7rem;
        margin: 20px 0;
    }

    .pform__item {
        padding-left: 20px;
    }

    .plan {
        height: 660px;
    }

    .plan__form {
        height: 180px;
        margin-top: 20px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .pform__title {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .pform__subtitle {
        font-size: 0.6rem;
    }

    .plan__subtitle {
        font-size: 0.7rem;
    }

    .bform__item {
        padding: 10px;
        font-size: 0.8rem;
        margin-right: 20px;
        width: 135px;
    }

    .container {
        max-width: 90%;
    }

    .form__btm {
        font-size: 0.6em;
        padding: 5px 17px;
    }

    .derent__foto img {
        width: 100%;
    }

    .derent__foto {
        margin-bottom: 25px;
    }

    .derent__title {
        font-size: 0.6rem;
        margin: 20px 0;
    }

    .derent__subtitle {
        font-size: 0.6rem;
        margin-bottom: 20px;
    }

    .material__items {
        width: 25%
    }

    .material__foto {
        height: 42%
    }

    .material__top {
        font-size: 0.6rem;
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .material__title {
        font-size: 0.7rem;
    }

    .littel {
        margin: 20px 0 8px;
    }

    .desp__title {
        font-size: 0.6rem;
    }

    .desp__subtitle {
        font-size: 0.55rem;
    }

    .desp__inner {
        width: 80%;
    }

    .desp__items {
        height: 75px;
        margin-top: 30px;
    }

    .desp {
        height: 460px;
    }

    .staff__foto {
        width: 70%;
    }

    .staff__name,
    .staff__telefon {
        font-size: 0.8rem;
    }

    .staff__cont {
        width: 28%;
        margin-left: 2%
    }

    .staff__adress,
    .staff__title {
        font-size: 0.56rem;
        margin-bottom: 15px;
    }

    .company__cont {
        text-align: center;
        padding: 10px 5px;
    }

    .none {
        margin-bottom: 0;
    }

    .quesition__text {
        font-size: 0.76rem;
    }

    .quesition {
        height: 555px;
    }

    .quesition__text span {
        width: 25px;
        height: 25px;
        line-height: 2;
    }

    .quesition__top {
        padding-top: 40px;
    }

    .map__cont {
        padding-left: 3%;
    }

    .map {
        height: 300px;
    }

    .map__title {
        margin-top: 35px;
        font-size: 0.8rem;
    }
}
/*=======MEDIA 577px END===========*/


/*=======MEDIA 438px START===========*/
@media(max-width: 438px) {


    .head__name {
        font-size: 0.7em;
    }


    .head__text span {
        font-size: 0.7em;
    }

    .btn a {
        font-size: 0.5em;
        padding: 5px 7px;
        display: inherit;
    }

    .head__foto2 {
        width: 13px;
        height: 13px;
        display: inherit;
    }

    .head__foto,
    .head__time,
    .head__text {
        margin-right: 7px;
    }
    .head__time,
    .head__text{
        font-size: 0.46em;
    }
    .head__foto {
        width: 38px;
        height: 22px;
    }

    .form {
        width: 100px;
        padding: 5px 0;
        margin-bottom: 5px;
        font-size: 0.6rem;
        margin-left: -7px;
    }

    .form__foto {
        width: 150px;
        height: 170px;
        top: -60px;
        left: -32px;
    }

    .form__btn {
        font-size: 0.6em;
        padding: 4px 7px;
        margin-left: -10px;
    }

    .form__text {
        font-size: 0.6em;
        margin-top: -31px;
        margin-bottom: 5px;
        margin-left: -13px;
    }

    .project__top {
        margin: 20px 0;
    }

    .project__top h2 {
        font-size: 1.3rem;
    }

    .project__foto {
        height: 115px;
    }

    .project__inner {
        height: 280px;
    }

    .project__b1 {
        margin-bottom: 30px;
        font-size: 0.8rem;
    }

    .project__title {
        font-size: 0.8rem;
        margin: 10px 0;
    }

    .project__subtitle {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .planbtn a {
        font-size: 0.6em;
        padding: 8px 8px;
    }

    .project__conten {
        height: 150px;
    }


    .plan__top {
        font-size: 0.54rem;
        padding-top: 40px;
    }

    .plan__bottom {
        font-size: 0.6rem;
        margin: 20px 0;
    }

    .pform__item {
        padding-left: 7px;
    }

    .plan {
        height: 575px;
        background-image: url(foto/foto2__mini.jpg);
        background-size: cover;
        background-position: center;
    }

    .plan__form {
        height: 140px;
        margin-top: 20px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .pform__title {
        font-size: 0.56rem;
        margin-bottom: 20px;
    }

    .pform__subtitle {
        font-size: 0.54rem;
    }

    .plan__subtitle {
        font-size: 0.6rem;
    }

    .bform__item {
        padding: 6px;
        font-size: 0.8rem;
        margin-right: 20px;
        width: 100px;
    }

    .container {
        max-width: 90%;
    }

    .form__btm {
        font-size: 0.6em;
        padding: 2px 10px;
    }

    .derent__foto img {
        width: 100%;
    }

    .derent__foto {
        margin-bottom: 25px;
        height: 200px;
    }

    .derent__title {
        font-size: 0.6rem;
        margin: 30px 0;
    }

    .derent__subtitle {
        font-size: 0.6rem;
        margin-bottom: 20px;
    }

    .material__items {
        width: 50%
    }

    .material {
        height: 480px;
    }

    .material__foto {
        height: 42%
    }

    .material__top {
        font-size: 0.6rem;
        margin-bottom: 30px;
        padding-top: 30px;
    }

    .material__title {
        font-size: 0.7rem;
    }

    .littel {
        margin: 20px 0;
    }

    .desp__title {
        font-size: 0.6rem;
    }

    .desp__subtitle {
        font-size: 0.55rem;
    }

    .desp__inner {
        width: 80%;
    }

    .desp__items {
        height: 75px;
        margin-top: 30px;
    }

    .desp {
        height: 460px;
        background-image: url(foto/desp__mini.jpg);
        background-size: cover;
        background-position: left;
    }

    .staff__foto {
        width: 100%;
    }

    .staff {
        width: 100%;
        height: 520px;
    }

    .staff__name,
    .staff__telefon {
        font-size: 1.2rem;
    }

    .staff__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .staff__cont {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .staff__adress,
    .staff__title {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .company__items {
        width: 100%;
        margin-bottom: 20px
    }

    .company__cont {
        text-align: center;
        padding: 15px 5px;
    }

    .none {
        margin-bottom: 0;
    }

    .quesition__text {
        font-size: 0.76rem;
    }

    .quesition {
        height: 510px;
        background-image: url(foto/quesition__mini.jpg);
        background-size: cover;
        background-position: right;
    }

    .quesition__text span {
        width: 25px;
        height: 25px;
        line-height: 2;
    }

    .quesition__top {
        padding-top: 40px;
    }

    .map__cont {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .map__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .map {
        height: auto;
    }

    .map__icon {
        width: 100%;
    }

    .map__adress p {
        font-size: 0.9rem;
    }

    .map__adress {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .map__title {
        margin-top: 35px;
        font-size: 0.8rem;
    }
}
/*=======MEDIA 438px END===========*/



/*=======MEDIA 376px START===========*/
@media(max-width: 376px) {

    .head__name {
        font-size: 0.57em;
    }
    .head__time, .head__text{
        font-size: 0.39em;
    }

    .head__text span {
        font-size: 0.8em;
    }

    .btn a {
        font-size: 0.5em;
        padding: 4px 5px;
        display: inherit;
    }

    .head__foto2 {
        width: 12px;
        height: 12px;
        display: inherit;
    }

    .head__foto,
    .head__time,
    .head__text {
        margin-right: 6px;
    }

    .head__foto {
        width: 34px;
        height: 20px;
    }
    .form__block{
        display: none;
    }
    .form {
        width: 100px;
        padding: 5px 0;
        margin-bottom: 5px;
        font-size: 0.6rem;
        margin-left: -7px;
    }

    .form__foto {
        width: 150px;
        height: 170px;
        top: -60px;
        left: -32px;
    }

    .form__btn {
        font-size: 0.6em;
        padding: 4px 7px;
        margin-left: -10px;
    }
    .intro {
        height: 160px;
    }
    .form__text {
        font-size: 0.6em;
        margin-top: -31px;
        margin-bottom: 5px;
        margin-left: -13px;
    }
    .mob__head{
        display: block;
    }

    .project__top {
        margin: 20px 0;
    }

    .project__top h2 {
        font-size: 1.2rem;
    }

    .project__foto {
        height: 100px;
    }

    .project__inner {
        height: 240px;
    }

    .project__b1 {
        margin-bottom: 30px;
        font-size: 0.8rem;
    }

    .project__title {
        font-size: 0.7rem;
        margin: 10px 0;
    }

    .project__subtitle {
        font-size: 0.6rem;
        margin-bottom: 20px;
    }

    .planbtn a {
        font-size: 0.46em;
    }

    .project__conten {
        height: 130px;
    }


    .plan__top {
        font-size: 0.45rem;
        padding-top: 30px;
    }

    .plan__bottom {
        font-size: 0.6rem;
        margin: 20px 0;
    }

    .pform__item {
        padding-left: 7px;
    }
    .active span::before{
       -webkit-transform: translateY(-12px) rotate(270deg);
               transform: translateY(-12px) rotate(270deg);
    }
    .active span{
        width: 25px;
        height: 2px;
    }
    .point{
        width: 15px;
        height: 15px;
    }
    .plan {
        height: 515px;
    }

    .plan__form {
        height: 120px;
    }

    .pform__title {
        font-size: 0.46rem;
        margin-bottom: 10px;
    }

    .pform__subtitle {
        font-size: 0.45rem;
    }

    .plan__subtitle {
        font-size: 0.6rem;
    }

    .bform__item {
        padding: 5px;
        font-size: 0.6rem;
        margin-right: 10px;
        width: 90px;
    }

    .container {
        max-width: 90%;
    }

    .form__btm {
        font-size: 0.6em;
        padding: 2px 10px;
    }
    i {
        font-size: 2em;
    }
    .derent__foto img {
        width: 100%;
    }

    .derent__foto {
        margin-bottom: 15px;
        height: 180px;
    }

    .derent__title {
        font-size: 0.5rem;
        margin: 25px 0;
    }

    .derent__subtitle {
        font-size: 0.55rem;
    }

    .material__items {
        width: 100%;
        margin-bottom: 30px;
    }

    .material {
        height: 1030px;
    }

    .material__foto {
        height: 70%
    }

    .material__top {
        font-size: 0.55rem;
    }

    .material__title {
        font-size: 0.9rem;
    }

    .littel {
        margin: 20px 0;
    }
    .material__link a {
        font-size: 0.9em;
    }
    .desp__title {
        font-size: 0.5rem;
        padding-top: 6px;
    }

    .desp__subtitle {
        font-size: 0.5rem;
    }

    .desp__inner {
        width: 80%;
    }

    .desp__items {
        height: 60px;
        margin-top: 30px;
    }

    .desp {
        height: 380px;
    }

    .staff__foto {
        width: 100%;
    }

    .staff {
        width: 100%;
        height: 500px;
    }

    .staff__name,
    .staff__telefon {
        font-size: 1.2rem;
        margin-top: 18px;
    }

    .staff__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .staff__cont {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .staff__adress,
    .staff__title {
        font-size: 0.8rem;
    }

    .company__items {
        width: 100%;
        margin-bottom: 20px
    }
    .quesition__top h2{
        font-size: 1.1em;
        margin-bottom: 20px;
    }
    .quesition__top h4{
        font-size: 0.7em;
    }
    .company__cont {
        text-align: center;
        padding: 15px 5px;
    }

    .none {
        margin-bottom: 0;
    }

    .quesition__text {
        font-size: 0.6rem;
    }

    .quesition {
        height: 410px;
    }

    .quesition__text span {
        width: 15px;
        height: 15px;
        line-height: 1.5;
    }

    .quesition__top {
        padding-top: 40px;
    }

    .map__cont {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .map__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .map {
        height: auto;
    }

    .map__icon {
        width: 100%;
    }

    .map__adress p {
        font-size: 0.9rem;
    }

    .map__adress {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .map__title {
        margin-top: 35px;
        font-size: 0.8rem;
    }
}
/*=======MEDIA 376px END===========*/


/*=======MEDIA 321px END===========*/
@media(max-width: 321px) {

    .head__name {
        font-size: 0.4em;
    }
    .head__time, .head__text{
        font-size: 0.33em;
    }

    .btn a {
        font-size: 0.45em;
    }

    .head__foto {
        width: 30px;
        height: 17px;
    }
    .form__block{
        display: none;
    }
    .form {
        width: 100px;
        padding: 5px 0;
        margin-bottom: 5px;
        font-size: 0.6rem;
        margin-left: -7px;
    }

    .form__foto {
        width: 150px;
        height: 170px;
        top: -60px;
        left: -32px;
    }

    .form__btn {
        font-size: 0.6em;
        padding: 4px 7px;
        margin-left: -10px;
    }
    .intro {
        height: 130px;
    }
    .form__text {
        font-size: 0.6em;
        margin-top: -31px;
        margin-bottom: 5px;
        margin-left: -13px;
    }
    .mob__form{
        width: 80px;
    }
    .mob__head{
        display: block;
    }

    .project__top {
        margin: 20px 0;
    }

    .project__top h2 {
        font-size: 1.2rem;
    }

    .project__foto {
        height: 100px;
    }

    .project__inner {
        height: 240px;
    }

    .project__b1 {
        margin-bottom: 30px;
        font-size: 0.8rem;
    }

    .project__title {
        font-size: 0.7rem;
        margin: 10px 0;
    }

    .project__subtitle {
        font-size: 0.6rem;
        margin-bottom: 20px;
    }

    .planbtn a {
        font-size: 0.4em;
        padding: 5px 6px;
    }

    .project__conten {
        height: 130px;
    }
    .navi{
        margin: 20px 0 25px;
    } 

    .plan__top {
        font-size: 0.45rem;
        padding-top: 45px;
    }

    .plan__bottom {
        font-size: 0.6rem;
        margin: 20px 0;
    }

    .pform__item {
        padding-left: 5px;
    }
    .active span{
        width: 25px;
        height: 2px;
    }
    .point{
        width: 15px;
        height: 15px;
    }
    .plan {
        height: 465px;
    }

    .plan__form {
        height: 120px;
    }

    .pform__title {
        font-size: 0.36rem;
    }

    .pform__subtitle {
        font-size: 0.4rem;
    }

    .plan__subtitle {
        font-size: 0.6rem;
    }

    .bform__item {
        width: 80px;
    }

    .container {
        max-width: 90%;
    }

    .form__btm {
        font-size: 0.46em;
        padding: 2px 10px;
    }
    .derent__foto {
        height: 150px;
    }

    .derent__title {
        font-size: 0.5rem;
        margin: 25px 0;
    }

    .derent__subtitle {
        font-size: 0.55rem;
    }

    .material__items {
        width: 100%;
        margin-bottom: 30px;
    }

    .material {
        height: 1030px;
    }

    .material__foto {
        height: 60%
    }

    .material__top {
        font-size: 0.55rem;
    }

    .material__title {
        font-size: 0.9rem;
    }

    .littel {
        margin: 20px 0;
    }
    .material__link a {
        font-size: 0.9em;
    }
    .desp__title {
        font-size: 0.5rem;
        padding-top: 6px;
    }

    .desp__subtitle {
        font-size: 0.5rem;
    }

    .desp__inner {
        width: 80%;
    }

    .desp__items {
        height: 60px;
        margin-top: 30px;
    }

    .desp {
        height: 380px;
    }

    .staff__foto {
        width: 100%;
    }

    .staff {
        width: 100%;
        height: 500px;
    }

    .staff__name,
    .staff__telefon {
        font-size: 1.2rem;
        margin-top: 18px;
    }

    .staff__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .staff__cont {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .staff__adress,
    .staff__title {
        font-size: 0.8rem;
    }

    .company__items {
        width: 100%;
        margin-bottom: 20px
    }
    .quesition__top h2{
        font-size: 1.1em;
        margin-bottom: 20px;
    }
    .quesition__top h4{
        font-size: 0.7em;
    }
    .company__cont {
        text-align: center;
        padding: 15px 5px;
    }

    .none {
        margin-bottom: 0;
    }

    .quesition__text {
        font-size: 0.6rem;
    }

    .quesition {
        height: 410px;
    }

    .quesition__text span {
        width: 15px;
        height: 15px;
        line-height: 1.5;
    }

    .quesition__top {
        padding-top: 40px;
    }

    .map__cont {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .map__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .map {
        height: auto;
    }

    .map__icon {
        width: 100%;
    }

    .map__adress p {
        font-size: 0.9rem;
    }

    .map__adress {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .map__title {
        margin-top: 35px;
        font-size: 0.8rem;
    }
}